<%- include('includes/head.ejs') %>
  <body>
    <h1>page belongs to @<%= data.name %></h1>
    <button>Follow</button>
    <button>Like</button>
    <p>
      Followers: <%= data.followers %> &nbsp; Following: <%= data.following %>
    </p>
    <% for(let post of data.posts) {%>
    <img src="<%= post.image %>" alt="some img" />
    <p>
      Like: <%= post.likes %> &nbsp;&nbsp;&nbsp; Comments: <%= post.comments %>
    </p>
    <% } %>
    <script src="/app.js"></script>
    <%- include('includes/footer.ejs') %>
  </body>
</html>
