<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quirkle</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 class="title">Quirkle Posts</h1>
    <% for(post of posts){ %>
    <div class="post">
      <span class="user">@<%= post.username %></span><br />
      <span class="content"><%= post.content %></span>
      <br />
      <a href="http://localhost:8080/posts/<%= post.id %>"> Show in detail </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://localhost:8080/posts/<%= post.id %>/edit"> Edit </a>
      &nbsp;&nbsp;
      <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
        <button>Delete Post</button>
      </form>
    </div>
    <br />
    <% } %>
    <br />
    <a href="http://localhost:8080/posts/new">Add new post</a>
  </body>
</html>
